[flake8]
max-line-length = 165
ignore =
  F403,
  F405

# Black will enforce an equal amount of whitespace around slice operators. Due to this, Flake8 will raise E203
# whitespace before ':' warnings. Since this warning is not PEP 8 compliant, Flake8 should be configured to ignore it
# via extend-ignore = E203.
extend-ignore = E203
